.styled-icon-button.MuiIconButton-root {
	border-radius: 100rem;
	background: rgb(0, 0, 0, 0.6);
	padding: 8px;
	margin-left: 0.8rem;
	color: white;
}

.styled-icon-button.MuiIconButton-root:hover {
	background: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(60px);
}

.styled-icon-button .MuiSvgIcon-root {
	font-size: 1.7rem;
}
