.search-container {
	margin: auto;
	width: 98%;
	max-width: 750px;
}

.database-summary-container {
	width: 85%;
	max-width: 600px;
	margin: auto;
}

.search-bar {
	margin: 0 auto;
	border-radius: 2.5rem;
	margin-bottom: 2rem;
	border: solid 3px rgb(93, 90, 107);
}

.card-image-avatar.MuiAvatar-root {
	margin-right: 0.75rem;
	width: 50px;
	height: 50px;
}

.search-icon {
	font-size: 1.85rem;
	color: black;
}

.search-input-parent {
	display: flex;
	padding: 0.2rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.search-input-field {
	color: black;
	flex: 1;
	font-size: 1.05rem;
}
.search-input-field fieldset {
	border: none;
}

.search-suggestions-parent {
	display: flex;
	width: 100%;
	padding: 0.5rem;
}

.search-suggestions-parent[aria-selected='true'] {
	background: #afa;
}

.search-suggestions-parent.Mui-focused {
	background: rgba(135, 120, 229, 0.08);
	cursor: pointer;
}

.search-suggestions-parent.Mui-focused[aria-selected='true'] {
	background: #d4d4d4;
}

.search-suggestions-info-parent {
	padding: 0rem;
	margin: 0rem;
}

.search-suggestion-substring-match {
	color: rgba(255, 143, 68, 0.85);
}

.search-suggestion-subheader {
	color: rgba(81, 99, 114, 0.8);
}

.search-suggestion-text {
	white-space: pre-wrap;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 0rem;
	margin: 0rem;
	font-weight: 500;
}
