services:
  skc-site:
    image: nginx:stable-alpine
    ports:
      - 3000:80
    volumes:
      - ./build:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    command: [nginx, '-g', 'daemon off;']
    restart: always
    deploy:
      resources:
        limits:
          memory: 50M
    networks:
      - skc
    environment:
      NODE_ENV: production
    labels:
      com.datadoghq.ad.init_configs: '[{}]'
      com.datadoghq.ad.instances: '[{"host":"%%host%%", "port": "%%port%%"}]'
      com.datadoghq.ad.logs: >-
        [{
          "source": "nginx",
          "service": "skc-site"
        }]
      com.datadoghq.tags.env: 'dev'
      com.datadoghq.tags.service: 'skc-site'

networks:
  skc:
    name: skc
    driver: bridge
    external: true # network was alredy created, if you need to recreate the network - make this false
