.glance {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-radius: 1.5rem;
	flex: 1;
	background: #f3f3f3;
}

.glance:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.glance-prominent-text {
	margin-bottom: 0.2rem;
	color: #444;
}

.glance-secondary-text {
	margin-bottom: 0rem;
}
