.hint-default {
	padding: 1.8rem;
	max-width: 70%;
	width: 80%;
	border-radius: 1.25rem;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.hint-tight {
	padding: 0.9rem;
	border-radius: 2rem;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.hint-text {
	margin: 0rem;
}
