.section-parent {
	margin: auto;
	margin-bottom: 5rem;
	border-radius: 1.75rem;
	padding: 0rem;
	background: white;
	width: 100%;
}

.section-header-container {
	color: white;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
}

.default-section-header-container {
	background: #4d4a59;
}

.ban-list-section-header-container {
	background: linear-gradient(315deg, #fe3d58, #fe5f75 74%);
}

.product-section-header-container {
	background: linear-gradient(326deg, #a4508b 0%, #763a64 74%);
}

.section-header-text {
	color: inherit;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.section-content {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: white;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.default-border {
	border: 2px rgba(0, 0, 0, 0.3);
	border-style: solid;
}

.multi-section:nth-child(even) {
	background: rgb(246, 246, 246);
	margin-left: -0.8rem;
	margin-right: -0.8rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.multi-section:first-child {
	padding-bottom: 2rem;
}

.multi-section:not(:first-child):not(:last-child) {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.multi-section:last-child {
	padding-top: 2rem;
}
