.table-head {
	background-color: rgba(0, 0, 0, 0.6);
}

.table-container {
	border-top-left-radius: 1.1rem;
	border-top-right-radius: 1.1rem;
	border-bottom-left-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
	color: rgba(255, 255, 255, 0.97);
	max-width: 98%;
	margin: auto;

	background-color: rgba(0, 0, 0, 0.75);
}

.hover:hover,
.hover:hover:nth-child(even) {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.05);
}

.no-hover {
	cursor: auto !important;
}

.MuiTableRow-root:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}

.MuiTableCell-root {
	color: rgba(255, 255, 255, 0.97);
	padding: 0.7rem !important;
}

td {
	border-bottom: none !important;
}
