@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Overpass+Mono:400,600,700|PT+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

html
{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}

body
{
	max-width: 1800;
	margin: auto;
	height: 100%;
}

.MuiTypography-root {
	font-family: 'PT Sans', sans-serif !important;

}

.MuiButton-label {
	font-family: 'Lexend Deca', sans-serif;
}

.MuiExpansionPanel-root:before {
	height: 0px !important;
}


.MuiDialog-paperWidthSm {
	max-width: 480px !important;
}