.product-grid-item-parent {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border-radius: 1rem;
	column-gap: 2rem;
}

.product-grid-item-parent:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.4) 0.3rem 0.3rem 1rem;
}

.product-grid-item-text > *:not(:last-child) {
	margin-bottom: 0.35rem;
}

.product-grid-item-text .inline-date {
	margin-bottom: 1rem;
}

.product-grid-item-text .dark-chip.MuiChip-root,
.dark-chip-condensed.MuiChip-root {
	margin-top: 0rem;
}
