.date-parent {
	margin-bottom: 0rem;
	margin: auto;
	border-radius: 1rem;
	padding: 0rem;
	background: white;
	min-width: 8rem;
}

.month-container {
	color: white;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background: #e42364;
}

.month-text {
	color: inherit;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.2rem;
	margin-bottom: 0.05rem;
}

.day-text {
	font-weight: 800;
	margin-bottom: 0rem;
}

.year-text {
	margin-bottom: 0rem;
}
