.event-container {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: auto;
	overflow-x: auto;
}

.event-container-end {
	margin-bottom: 5rem;
}

.event-item {
	padding: 0.75rem;
	width: 24rem;
	border-radius: 1.5rem;
	background: white;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border: 3px solid #ef7ea4;
}

.event-item-header {
	display: flex;
	margin-bottom: 1.5rem;
}

.event-name {
	font-weight: 800;
	flex-grow: 1;
	margin-bottom: 0rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.event-notes-header {
	font-weight: 800;
	color: #666;
	text-transform: uppercase;
}

.event-notes {
	height: 7rem;
	overflow-y: auto;
}

.event-url {
	margin-bottom: 0.25rem;
	margin-right: 0.25rem;
}
