.event-container {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: auto;
	overflow-x: auto;
}

.event-header-container {
	display: -webkit-flex;
	margin-bottom: 0.75rem;
}

.event-header {
	margin-right: 0.75rem;
	margin-bottom: 0rem;
}

.event-container-end {
	margin-bottom: 5rem;
}

.event-item {
	padding: 0.75rem;
	width: 24rem;
	border-radius: 1.5rem;
	background: white;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border: 3px solid #ef7ea4;
}

.event-item-header {
	display: flex;
	margin-bottom: 1.5rem;
}

.event-name {
	color: black;
	font-weight: 800;
	flex-grow: 1;
	margin-bottom: 0rem;
	padding-right: 0.75rem;
}

.event-notes-header {
	font-weight: 800;
	color: #666;
	text-transform: uppercase;
}

.event-notes {
	white-space: pre-wrap;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: auto;
	color: inherit;
}

.event-url {
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
	margin-right: 0.25rem;
}

/* below styles are for react markdown */
p {
	margin-block-start: 0em;
	margin-block-end: 0.5em;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0.5em;
	padding-inline-start: 30px;
}
