.glance {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-radius: 1.5rem;
	flex: 1;
	background: #fafafa;
	animation: pulse-animation 1.8s infinite;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0rem rgba(255, 184, 136, 0.15);
	}
	25% {
		box-shadow: 0 0 0 0.4rem rgba(255, 184, 136, 0.7);
	}
	50% {
		box-shadow: 0 0 0 0.75rem rgba(255, 184, 136, 0);
	}
}

.glance:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.glance-prominent-text {
	margin-bottom: 0.2rem;
}

.glance-secondary-text {
	margin-bottom: 0rem;
}
