.one-third-two-thirds-container {
	background: white;
	border-radius: 1.75rem;
	padding-left: 0.8rem;
	padding-right: 0.9rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 0.5rem 1.4rem;
	border: 1px solid rgb(221, 221, 221);

	@media screen and (min-width: 800px) {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 1.25rem;
	}
}
