[class^='headline-v'] {
	display: block;
	margin-bottom: 5rem;
}

[class^='headline-v'] .section-parent {
	margin: 0 0 2rem 0;
	align-self: start;
}

[class^='headline-v'] .group {
	align-self: start;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0.2rem 0.2rem 0.75rem;
}

[class^='headline-v'] .group .MuiTypography-h3 {
	margin-bottom: 2rem;
}

@media (min-width: 700px) and (not (aspect-ratio: 3/4)) {
	[class^='headline-v'] {
		max-width: 99%;
		margin: 0 auto;
		display: grid;
		column-gap: 1rem;
		justify-content: center;
	}
}

@media (min-width: 825px) and (not (aspect-ratio: 3/4)) {
	[class^='headline-v'] {
		max-width: 95%;
		margin: 0 auto;
		display: grid;
		column-gap: 1rem;
		justify-content: center;
	}
}

@media (min-width: 950px) and (not (aspect-ratio: 3/4)) {
	[class^='headline-v'] {
		max-width: 90%;
		margin: 0 auto;
		display: grid;
		column-gap: 2rem;
		justify-content: center;
	}
}

@media (min-width: 1050px) and (not (aspect-ratio: 3/4)) {
	[class^='headline-v'] {
		max-width: 85%;
		margin: 0 auto;
		display: grid;
		column-gap: 3rem;
		justify-content: center;
	}
}

/* ===============================
   Headline variant 1
   =============================== */

@media (min-width: 700px) and (not (aspect-ratio: 3/4)) {
	.headline-v1 {
		grid-template-columns: 45% 55%;
	}
}

@media (min-width: 825px) and (not (aspect-ratio: 3/4)) {
	.headline-v1 {
		grid-template-columns: 45% 55%;
	}
}

@media (min-width: 950px) and (not (aspect-ratio: 3/4)) {
	.headline-v1 {
		grid-template-columns: 45% 55%;
	}
}

@media (min-width: 1050px) and (not (aspect-ratio: 3/4)) {
	.headline-v1 {
		grid-template-columns: 400px 600px;
	}
}

/* ===============================
   Headline variant 2
   =============================== */

@media (min-width: 700px) and (not (aspect-ratio: 3/4)) {
	.headline-v2 {
		grid-template-columns: 55% 45%;
	}
}

@media (min-width: 825px) and (not (aspect-ratio: 3/4)) {
	.headline-v2 {
		grid-template-columns: 55% 45%;
	}
}

@media (min-width: 950px) and (not (aspect-ratio: 3/4)) {
	.headline-v2 {
		grid-template-columns: 55% 45%;
	}
}

@media (min-width: 1050px) and (not (aspect-ratio: 3/4)) {
	.headline-v2 {
		grid-template-columns: 60% 425px;
	}
}

/* ===============================
   Headline section
   =============================== */

.headline-section > *:not(.MuiTypography-h5):not(.MuiChip-root):not(.hint):not(.aggregate-anchor) {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

@media (min-width: 950px) and (not (aspect-ratio: 3/4)) {
	.headline-section {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.headline-section > div:not(.MuiChip-root) {
	margin-bottom: 0.5rem;
}

.headline-section:not(:last-child) {
	margin-bottom: 2.25rem;
}

.MuiTypography-root:has(+ .MuiChip-root),
.MuiTypography-root:has(+ .headline-section) {
	margin-bottom: 0rem;
}
