/* overwrite date styles to prevent 'display: flex' from making height 100% of parent
you can also surround component with a div */
.list-item-parent .date-parent {
	margin: auto;
	margin-top: 0;
}

.list-item-parent {
	display: flex;
	flex-direction: row;
	padding: 0.6rem;
	border-radius: 0.5rem;
}

.list-item-parent:nth-child(odd) {
	background: rgba(0, 0, 0, 0.05);
}

.list-item-parent > *:not(:last-child) {
	margin-right: 1.5rem;
}

.list-item-parent:hover {
	background: rgba(84, 63, 218, 0.1);
	cursor: pointer;
}

.list-item-text {
	flex: 1;
}

.list-item-text > *:not(:last-child) {
	margin-bottom: 0.3rem;
}

.list-item-text .rarities {
	font-weight: 600;
	margin-bottom: -0.2rem;
}
