.section-parent.MuiPaper-root {
	margin-bottom: 2.25rem;
	border-radius: 1.75rem;
	padding: 0rem;

	max-width: 100%;
}

.section-content {
	padding-left: .8rem;
	padding-right: .8rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background: #fff;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}
/* style={{paddingLeft: '.8rem', paddingRight: '.8rem', paddingTop: '1.5rem', paddingBottom: '1.5rem', background: '#fff', borderTopLeftRadius: '2rem', borderTopRightRadius: '2rem'}} */