.topic-details {
	margin-left: 0.55rem;
	margin-bottom: 1rem;
}

.topic {
	margin-bottom: 1rem;
}

.info-card {
	max-width: 100%;
	border-radius: 1.4rem;

	background: rgba(255, 255, 255, 0.97);
	border: 3px rgba(135, 120, 229, 0.3);
	border-style: solid;
}

.centered-image {
	text-align: center;
	margin-bottom: 1rem;
	min-height: 100px;
}

.info-card-header-container {
	background: rgba(135, 120, 229, 0.2);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-top-left-radius: 1.2rem;
	border-top-right-radius: 1.2rem;
}

.info-card-body {
	padding: 1.4rem;
}

.grid {
	display: inline-grid;
}

li {
	word-break: break-all;
}
