.tab-container {
	background-color: rgba(255, 255, 255, 0.7) !important;
	backdrop-filter: blur(60px);
	box-shadow: none;
}

.tabs .MuiTab-textColorPrimary.Mui-selected {
	font-weight: 900;
	color: black;
}

.tab {
	text-transform: none;
}

.ban-list-format-section {
	margin-bottom: 1.5rem;
}

.ban-list-date-section {
	margin-bottom: 1.5rem;
}

.ban-list-date-selector {
	width: 100%;
	margin: auto;
}

.ban-list-date-selector .MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
	background-color: black;
}

.ban-list-date-selector-menu-item {
	padding: 0.85rem;
}

.breakdown-chip.MuiChip-root {
	color: black;
	background-color: white;
}

.forbidden-breakdown-chip.MuiChip-root {
	border: 1px solid rgb(245, 0, 87);
}

.limited-breakdown-chip.MuiChip-root,
.limited-one-breakdown-chip.MuiChip-root {
	border: 1px solid rgb(255, 145, 0);
}

.semi-limited-breakdown-chip.MuiChip-root,
.limited-two-breakdown-chip.MuiChip-root {
	border: 1px solid rgb(76, 175, 80);
}

.limited-three-breakdown-chip.MuiChip-root {
	border: 1px solid #00b5e2;
}

.removed-breakdown-chip.MuiChip-root {
	border: 1px solid black;
}

.ygo-card-info-parent {
	width: 18rem;
	min-width: 18rem;
	margin-right: 0.75rem;
	cursor: pointer;
	background-color: #eee;
	padding: 1rem;
	border-radius: 2.5rem;
	border: 2px solid #888;
}

.img-and-previous-status-parent {
	display: flex;
}

.ban-list-status-change-text-parent {
	min-width: 60%;
	margin: auto;
}

.ban-list-status-change-text-1 {
	margin-bottom: 0rem;
}

.ban-list-status-change-text-2 {
	color: black;
}

.cards-with-different-status-parent {
	margin-bottom: 2rem;
	background: white;
	padding: 1.5rem;
	border-radius: 1.5rem;
}

.cards-with-different-status-parent:last-child {
	margin-bottom: 5rem;
}

.cards-with-diff-status-skeleton {
	margin-bottom: 5rem;
}

.cards-with-different-status-content {
	display: flex;
	overflow-x: auto;
	padding-bottom: 1rem;
}

.forbidden-icon.MuiSvgIcon-root {
	color: red;
	font-size: 1.8rem;
}

.limited-icon.MuiSvgIcon-root,
.limited-one-icon.MuiSvgIcon-root {
	color: #ff9100;
	font-size: 1.8rem;
}

.semi-limited-icon.MuiSvgIcon-root,
.limited-two-icon.MuiSvgIcon-root {
	color: #4caf50;
	font-size: 1.8rem;
}

.limited-three-icon.MuiSvgIcon-root {
	color: #00b5e2;
	font-size: 1.8rem;
}
