.communication-message-badge span.MuiBadge-badge {
	padding: .9rem;
	padding-right: .9rem;
	padding-bottom: .9rem;
	padding-left: .9rem;
	height: 0px;
	width: 0px;
	top: 3;
	right: 3;
	border-radius: 50rem;
	color: white;
}

.communication-message-header.MuiTypography-root {
	margin-bottom: .85rem;
	color: black;
}

.communication-message-sub-header.MuiTypography-root {
	margin-bottom: .5rem;
	color: black;
}

.communication-message-body.MuiTypography-root {
	color: #555;
}

.communication-message-body p {
	margin-block-start: 0rem;
	margin-block-end: .2rem;
}

.communication-message-body a {
	background: rgba(253, 237, 221, 1);
	padding: .15rem;
	color: #ff8f44;
	text-decoration: none;
}

.communication-message-body a:hover {
	text-decoration: underline;
}

.communication-message-tag.MuiChip-root {
	background: rgba(135, 120, 229, .95);
	backdrop-filter: blur(60px);
	height: auto;
}

.communication-message-tag span.MuiChip-label {
	font-weight: 500;
	font-size: .8rem;
	padding-left: .75rem;
	padding-right: .75rem;
	padding-top: .35rem;
	padding-bottom: .35rem;
}

.communication-popper-container {
	padding: 1rem;
	max-width: 400px;
	max-height: 500px;
	background: rgb(255, 255, 255, .4);
	backdrop-filter: blur(60px);
	overflow-x: hidden;
}

.communication-divider.MuiDivider-root {
	margin-top: .75rem;
	margin-bottom: 1rem;
	background: rgba(93, 90, 107, .15);
	backdrop-filter: blur(60px);
}