.card-info-header {
	font-weight: 700;
}

.table-head {
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(50px);
}

.table-container {
	border-top-left-radius: 1.1rem;
	border-top-right-radius: 1.1rem;
	border-bottom-left-radius: .7rem;
	border-bottom-right-radius: .7rem;
	/* background: rgba(0, 0, 0, 0.3); */
	color: rgba(255, 255, 255, .97);
	max-width: 98%;
	margin: auto;

	background-color: rgba(0,0,0,0.6);
	backdrop-filter: blur(50px);
}

.table-row:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.05);
}

.table-cell {
	color: rgba(255, 255, 255, .97);
}

.divider {
	margin-top: 0;
	margin-bottom: 1.5rem;
	width: 98%;
}

.card-info-section {
	padding-left: .9rem;
	padding-right: .9rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	border-radius: 1.05rem;
}


.products {
	background: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}


.ban-lists {
	background: #fc9842;
	background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}

.MuiTableCell-root  {
	padding: .75rem !important
}