.NormalYgoCardParent {
	background: linear-gradient(185deg, #f9a825, #fbc02d);
	color: #484848 !important;
	/* normalTableBackground: `#fbc02d`, */
}
.NormalYgoCardSummaryBox {
	background: #fff1b2;
	color: #484848 !important;
}

.EffectYgoCardParent {
	background: linear-gradient(185deg, #e65100 25%, #fb8c00 85%);
	color: #fffbeb !important;
	/* effectTableBackground: `#ea8300`, */
}
.EffectYgoCardSummaryBox {
	background: rgba(255, 205, 132, 0.9);
	backdrop-filter: blur(60px);
	color: #484848 !important;
}

.RitualYgoCardParent {
	background: linear-gradient(185deg, #56b1fa 25%, #4e9fee 85%);
	color: #fffbeb !important;
	/* fusionTableBackground: `#7e57c2`,*/
}
.RitualYgoCardSummaryBox {
	background: #dbeefd;
	color: #484848 !important;
}

.FusionYgoCardParent {
	background: linear-gradient(185deg, #7e57c2 25%, #9575cd 85%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.FusionYgoCardSummaryBox {
	background: #ede7f6;
	color: #484848 !important;
}

.SynchroYgoCardParent {
	background: linear-gradient(180deg, #e0e0e0 10%, #bdbdbd 90%);
	color: #484848 !important;
	/* synchroTableBackground: `${grey[300]}`*/
}
.SynchroYgoCardSummaryBox {
	background: #f5f5f5;
	color: #484848 !important;
}

.XyzYgoCardParent {
	background: linear-gradient(180deg, #424242 30%, #212121 90%);
	color: #fffbeb !important;
	/* xyzTableBackground: `${grey[900]}`, */
}
.XyzYgoCardSummaryBox {
	background: rgba(224, 224, 224, 0.95);
	backdrop-filter: blur(100px);
	color: #484848 !important;
}

.Pendulum-NormalYgoCardParent {
	background: linear-gradient(#f9c414 40%, #00cdb1 55%);
	color: #484848 !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.Pendulum-NormalYgoCardSummaryBox {
	background: rgba(238, 248, 247, 0.72);
	color: #484848 !important;
}

.Pendulum-EffectYgoCardParent {
	background: linear-gradient(#ff6410 40%, #00cdb1 55%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.Pendulum-EffectYgoCardSummaryBox {
	background: rgba(238, 248, 247, 0.72);
	color: #484848 !important;
}

.Pendulum-FusionYgoCardParent {
	background: linear-gradient(#7e57c2 40%, #00cdb1 55%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.Pendulum-FusionYgoCardSummaryBox {
	background: rgba(238, 248, 247, 0.72);
	color: #484848 !important;
}

.Pendulum-XYZYgoCardParent {
	background: linear-gradient(#424242 40%, #00cdb1 55%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.Pendulum-XYZYgoCardSummaryBox {
	background: rgba(238, 248, 247, 0.72);
	color: #484848 !important;
}

.Pendulum-SynchroYgoCardParent {
	background: linear-gradient(#e0e0e0 40%, #00cdb1 55%);
	color: #484848 !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.Pendulum-SynchroYgoCardSummaryBox {
	background: rgba(238, 248, 247, 0.72);
	color: #484848 !important;
}

.TokenYgoCardParent {
	background: linear-gradient(180deg, #757575 30%, #616161 90%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.TokenYgoCardSummaryBox {
	background: #bdbdbd;
	color: #484848 !important;
}

.LinkYgoCardParent {
	background: linear-gradient(45deg, #1976d2 30%, #1565c0 90%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.LinkYgoCardSummaryBox {
	background: #b3e5fc;
	color: #484848 !important;
}

.SpellYgoCardParent {
	background: linear-gradient(45deg, #00bfa5 30%, #00ae96 90%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.SpellYgoCardSummaryBox {
	background: #e0f2f1;
	color: #484848 !important;
}

.TrapYgoCardParent {
	background: linear-gradient(185deg, #ad1457 25%, #d81b60 85%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.TrapYgoCardSummaryBox {
	background: #f06292;
	color: #fffbeb !important;
}

.ErrYgoCardParent {
	background: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
	color: #fffbeb !important;
	/* ritualTableBackground: `#56b1fa`*/
}
.ErrCardSummaryBox {
	background: #ffcdd2;
	color: #fffbeb !important;
}

#CardID {
	font-style: italic;
	color: inherit;
}

#CardName {
	margin-bottom: 0.25rem;
	text-align: center;
	text-transform: uppercase;
	flex: 1;
	color: inherit;
}

#CardDescription {
	padding: 0.445rem;
	border-radius: 0.5rem;
}

#MonsterType {
	font-weight: 800;
	margin-bottom: 0.28rem;
	color: inherit;
}

.monster-stat-parent {
	width: 100%;
	text-align: right;
}

.monster-stat-sub-parent {
	background: rgba(255, 255, 255, 0.75);
	display: inline-block;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	border-radius: 4rem;
}

.monster-stat {
	display: inline-block;
	font-weight: 800;
}

.monster-attack-stat {
	color: rgb(255, 77, 77, 0.93);
}

.monster-defense-stat {
	margin-left: 0.6rem;
	color: rgba(77, 166, 255, 0.9);
}
