.ygo-card-style-base {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: 1rem;
	padding: 0.4rem;
	padding-top: 0.65rem;
	padding-bottom: 0.65rem;
}

.normal-ygo-card-style {
	background: linear-gradient(185deg, #f9a825, #fbc02d);
	color: #333 !important;
}
.normal-ygo-card-style-light {
	background: #fff1b2;
	color: #333 !important;
}

.effect-ygo-card-style {
	background: linear-gradient(185deg, #e65100 25%, #ff762b 85%);
	color: #fffbeb !important;
}
.effect-ygo-card-style-light {
	background: rgba(255, 205, 132, 0.9);
	color: #333 !important;
}

.ritual-ygo-card-style {
	background: linear-gradient(185deg, #56b1fa 25%, #4e9fee 85%);
	color: #fffbeb !important;
}
.ritual-ygo-card-style-light {
	background: #dbeefd;
	color: #333 !important;
}

.fusion-ygo-card-style {
	background: linear-gradient(185deg, #6c42b5 25%, #7e57c2 85%);
	color: #fffbeb !important;
}
.fusion-ygo-card-style-light {
	background: #ede7f6;
	color: #333 !important;
}

.synchro-ygo-card-style {
	background: linear-gradient(180deg, #e0e0e0 10%, #bdbdbd 90%);
	color: #333 !important;
}
.synchro-ygo-card-style-light {
	background: #f5f5f5;
	color: #333 !important;
}

.xyz-ygo-card-style {
	background: linear-gradient(180deg, #424242 30%, #212121 90%);
	color: #fffbeb !important;
}
.xyz-ygo-card-style-light {
	background: rgba(224, 224, 224, 0.95);
	color: #333 !important;
}

.pendulum-normal-ygo-card-style {
	background: linear-gradient(#f9c414 40%, #00cdb1 55%);
	color: #333 !important;
}
.pendulum-normal-ygo-card-style-light {
	background: rgba(238, 248, 247, 0.8);
	color: #333 !important;
}

.pendulum-effect-ygo-card-style {
	background: linear-gradient(#ff6410 40%, #00cdb1 55%);
	color: #fffbeb !important;
}
.pendulum-effect-ygo-card-style-light {
	background: rgba(238, 248, 247, 0.8);
	color: #333 !important;
}

.pendulum-ritual-ygo-card-style {
	background: linear-gradient(#4e9fee 40%, #00cdb1 55%);
	color: #fffbeb !important;
}

.pendulum-ritual-ygo-card-style-light {
	background: rgba(238, 248, 247, 0.8);
	color: #333 !important;
}

.pendulum-fusion-ygo-card-style {
	background: linear-gradient(#7e57c2 40%, #00cdb1 55%);
	color: #fffbeb !important;
}
.pendulum-fusion-ygo-card-style-light {
	background: rgba(238, 248, 247, 0.8);
	color: #333 !important;
}

.pendulum-xyz-ygo-card-style {
	background: linear-gradient(#424242 40%, #00cdb1 55%);
	color: #fffbeb !important;
}
.pendulum-xyz-ygo-card-style-light {
	background: rgba(238, 248, 247, 0.8);
	color: #333 !important;
}

.pendulum-synchro-ygo-card-style {
	background: linear-gradient(#e0e0e0 40%, #00cdb1 55%);
	color: #333 !important;
}
.pendulum-synchro-ygo-card-style-light {
	background: rgba(238, 248, 247, 0.8);
	color: #333 !important;
}

.token-ygo-card-style {
	background: linear-gradient(180deg, #757575 30%, #616161 90%);
	color: #fffbeb !important;
}
.token-ygo-card-style-light {
	background: #bdbdbd;
	color: #333 !important;
}

.link-ygo-card-style {
	background: linear-gradient(45deg, #1976d2 30%, #1565c0 90%);
	color: #fffbeb !important;
}
.link-ygo-card-style-light {
	background: #b3e5fc;
	color: #333 !important;
}

.spell-ygo-card-style {
	background: linear-gradient(45deg, #00bfa5 30%, #00ae96 90%);
	color: #fffbeb !important;
}

.spell-ygo-card-style-light {
	background: #e0f2f1;
	color: #333 !important;
}

.trap-ygo-card-style {
	background: linear-gradient(185deg, #ad1457 25%, #d81b60 85%);
	color: #fffbeb !important;
}

.trap-ygo-card-style-light {
	background: #f06292;
	color: #fffbeb !important;
}

.err-ygo-card-style {
	background: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
	color: #fffbeb !important;
}
.err-ygo-card-style-light {
	background: #ffcdd2;
	color: #fffbeb !important;
}

#card-id {
	font-style: italic;
	color: inherit;
}

#card-name {
	margin-bottom: 0.25rem;
	text-align: center;
	text-transform: uppercase;
	flex: 1;
	color: inherit;
}

#card-description {
	padding: 0.445rem;
	border-radius: 0.5rem;
}

#monster-type {
	font-weight: 800;
	margin-bottom: 0.28rem;
	color: inherit;
}

.monster-stat-parent {
	width: 100%;
	text-align: right;
}

.monster-stat-sub-parent {
	background: rgba(255, 255, 255, 0.75);
	display: inline-block;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	border-radius: 4rem;
}

.monster-stat {
	display: inline-block;
	font-weight: 800;
}

.monster-attack-stat {
	color: rgb(255, 77, 77, 0.93);
}

.monster-defense-stat {
	margin-left: 0.6rem;
	color: rgba(77, 166, 255, 0.9);
}

.ygo-card-grid-item {
	border-radius: 1.2rem;
	padding: 0.3rem;
	cursor: pointer;
}

.ygo-card-grid-item:hover {
	background: #eee;
}

.ygo-card-effect-component-some-details {
	white-space: pre-wrap;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: inherit;
}

.ygo-card-effect-component-full-details {
	white-space: pre-wrap;
	color: inherit;
}
