html {
	font-synthesis: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	-webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 0px) {
	html {
		font-size: 12.3px;
	}
}
@media screen and (min-width: 601px) {
	html {
		font-size: 12.5px;
	}
}
@media screen and (min-width: 1201px) {
	html {
		font-size: 13px;
	}
}

body {
	margin: 0 auto;
	background: #fbf7f4;
}

li {
	font-family: open sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.MuiExpansionPanel-root:before {
	height: 0px !important;
}

.MuiAppBar-colorPrimary {
	background-color: #3b4968 !important;
}

.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex: 1 0 auto;
}

.content {
	flex: 1 0 auto;
}

.routes {
	width: 100%;
	max-width: 1850px;
	margin: 0 auto !important;
}

.routes-wrapper {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.footer {
	width: 100%;
	max-width: 1850px;
	margin: 0 auto !important;

	background-color: #282666;

	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	margin-top: 2rem !important;
}

.footer-wrapper {
	padding: 2.5rem;
}

.footer-font {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.95) !important;
	margin-bottom: 0.1rem !important;
}

.app-bar-container {
	background-color: #3f1286;
	background: radial-gradient(89.53% 145.96% at 60% 100.79%, #461495 0, #5418b3 17.58%, #461495 50.31%, #3f1286 97.03%);
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	box-shadow: none !important;
}

.app-bar {
	width: 100%;
	max-width: 1850px;
	margin: auto;
}

.MuiToolbar-gutters {
	padding-left: 0rem !important;
	padding-right: 0rem !important;
}

.app-bar-button {
	font-weight: 600 !important;
	font-size: 1.4rem !important;
	text-transform: none !important;
	padding: 0.7rem;
	border-radius: 1rem;
}

.app-bar-button:hover {
	background: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(60px);
}

.nav-button {
	font-weight: 400 !important;
	font-size: 1.05rem !important;
	padding: 0.7rem;
	border-radius: 1rem;
	color: rgba(255, 255, 255, 0.85) !important;
}

.nav-button:hover {
	background: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(60px);
}

.scrollable-nav {
	white-space: nowrap;
	overflow: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	width: 100%;
	max-width: 1850px;
	margin: auto;
	margin-bottom: 0.25rem;
	padding: 0rem !important;
}

.scrollable-nav::-webkit-scrollbar {
	display: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 20;
	overflow: auto;
}

.link-container a,
.link {
	background: rgba(253, 237, 221, 0.6);
	padding: 0.2rem;
	color: #ff6600;
	text-decoration: none !important;
}

.empty-space {
	flex-grow: 1;
}

.heavy-shadow {
	box-shadow: rgba(0, 0, 0, 0.4) 0.3rem 0.3rem 1rem;
}

.light-shadow {
	box-shadow: rgba(0, 0, 0, 0.2) 0.2rem 0.2rem 0.75rem;
}

.very-light-shadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0.05rem 0.1rem 0.5rem;
}

.search-icon-container {
	margin: auto;
}

.group {
	padding: 1.25rem !important;
	border-radius: 2rem;
	background: #f5f5f5;
}

.group-dark {
	padding: 1.25rem !important;
	border-radius: 2rem;
	background: rgba(0, 0, 0, 0.7);
}

.rounded-skeleton {
	border-radius: 1rem;
}

.rounded-skeleton-light {
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.light-translucent-divider {
	margin: auto;
	margin-top: 1.25rem;
	margin-bottom: 1.5rem;
	height: 3px;
	border-radius: 1000rem;
	max-width: 97%;

	background-color: rgba(255, 255, 255, 0.25);
}

.dark-translucent-divider.MuiDivider-root {
	margin: auto;
	margin-top: 1.25rem;
	margin-bottom: 1.5rem;
	height: 2px;
	border-radius: 1000rem;
	max-width: 97%;

	background-color: rgba(0, 0, 0, 0.45);
}
