.card-of-the-day-parent {
	padding: 1rem;
	border-radius: 0.75rem;
}

.card-of-the-day-parent:hover {
	background: #eee;
	cursor: pointer;
}

.card-of-the-day-wrapper {
	display: flex;
}

.card-of-the-day-wrapper .rounded-img-outer-container {
	flex: 4;
	margin: 0 auto; /* override parent default */
}

.card-of-the-day-wrapper .MuiSkeleton-root {
	flex: 4;
	padding-top: 20%;
}

.card-of-the-day-wrapper > *:not(:last-child) {
	margin-right: 1.5rem !important;
}

.card-of-the-day-type-wrapper {
	display: flex;
}

.card-of-the-day-type-wrapper > *:not(:last-child) {
	margin-right: 0.5rem;
}

.card-of-the-day-data {
	flex: 11;
}

.card-of-the-day-data > *:not(:last-child) {
	margin-bottom: 0.5rem;
}

.card-of-the-day-text {
	color: black;
}

.card-of-the-day-text.MuiTypography-h6 {
	font-weight: 600;
}
