.card-info-header {
	color: rgba(255, 255, 255, 0.97);
	margin-bottom: 1.5rem;
}

.card-info-container {
	background: #f0f0f0;
}

.ban-list-format-container {
	margin-bottom: 1rem;
}

span.prominent {
	color: #543fdad9;
	font-weight: 800;
}

.unique-rarities > *:not(:last-child) {
	margin-bottom: 0.2rem;
}

.unique-rarities {
	margin-top: 2rem;
}

.unique-rarities .dark-translucent-divider {
	width: 90%;
}
