.card-info-header {
	color: rgba(255, 255, 255, 0.97);
	margin-bottom: 1.5rem;
}

.card-info-container {
	background: #f0f0f0;
}

.ban-list-format-container {
	margin-bottom: 1rem;
}

span.prominent {
	color: #803788;
	font-weight: 600;
}
