name: Build & Code Quality

on:
  push:
    branches:
      - release
      - master
    tags:
      - v**
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  build-and-code-quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Setup Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: '20.x'

      - name: Instal Dependencies
        run: yarn run fresh-install

      - name: Build
        run: yarn run build

      - name: Unit Test
        run: yarn run ci:test

      - name: Check Syntax (ES Lint)
        run: yarn run lint
